html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInDown{from{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:766px;}
.cont{z-index:1;}
.gallery{height:766px;overflow:hidden;}
.js .slider{height:766px;}
.js .slick-prev, .js .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js .slick-prev:before, .js .slick-next:before { font-size: 20px; color: rgb(64,64,64); opacity: 0.75; }
.js .slick-prev { left: 0px; }
.js .slick-next { right: 0px; }
.js .slider-for { margin-bottom: 0px; }
.js .slider-nav { margin-bottom: 0px; }
.js .slider-nav img { border: solid 0px transparent; }
.js .slider-nav .slick-center img { border-color: transparent; }
.js .slick-dots { bottom: 10px; }
.js .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js .slick-dots li button { height: 20px; width: 20px; }
.js .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js .slick-dots li.slick-active button:before { color: rgb(255,255,255); opacity: 0.75; }
[dir="rtl"] .js .slick-next {right: auto;left: 0px;}
[dir="rtl"] .js .slick-prev {right: 0px;left: auto;}
.slider img { width: 100%; }
.js .slick-list{height:766px;}
.pos-2{position:relative;margin-top:-766px;}
.size-2{width:100%;min-width:960px;min-height:48px;}
.cont-2{z-index:2;pointer-events:none;border:0;background-color:rgb(76,76,76);}
.vis-2{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:960px;width:960px;min-height:48px;}
.size-4{min-width:140px;width:140px;min-height:48px;}
.cont-4{z-index:3;pointer-events:auto;}
.button{border:0;background-color:transparent;}
.button:hover{background-color:rgba(99,99,99,0.5);border-color:rgb(76,76,76);color:rgb(255,255,255);}
.button:active{background-color:transparent;border-color:rgb(76,76,76);color:rgb(255,255,255);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-5{width:140px;height:39px;}
.font{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:22.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:22.50pt;letter-spacing:1.03px;text-indent:0;text-align:center;padding-top:9px;margin-top:0;margin-bottom:0;}
.pos-5{position:relative;margin-left:340px;margin-top:14px;}
.size-6{min-width:121px;width:121px;min-height:34px;}
.cont-5{z-index:5;pointer-events:auto;}
.size-7{width:121px;height:33px;}
.font-2{font-family:"PingFang SC", sans-serif;font-size:16.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:23.10pt;letter-spacing:1.03px;text-indent:0;text-align:center;padding-top:1px;margin-top:0;margin-bottom:0;}
.pos-6{position:relative;margin-left:-2px;margin-top:14px;}
.cont-6{z-index:4;pointer-events:auto;}
.pos-7{position:relative;margin-left:0;margin-top:14px;}
.cont-7{z-index:13;pointer-events:auto;}
.pos-8{position:relative;margin-left:839px;margin-top:-34px;}
.cont-8{z-index:12;pointer-events:auto;}
.pos-9{position:relative;margin-top:82px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-10{position:relative;margin-left:20px;margin-top:0;}
.size-8{min-width:930px;width:930px;min-height:475px;}
.size-9{min-width:450px;width:450px;min-height:475px;}
.colwrapper{line-height:0;}
.size-10{min-width:450px;width:450px;min-height:160px;}
.cont-9{pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:3.36pt;margin-bottom:-3.36pt;padding-right:0;text-align:justify;}
.font-3{font-family:"PingFang SC", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:23.52pt;letter-spacing:normal;}
.font-4{font-family:Courier, serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:16.80pt;letter-spacing:normal;}
.font-5{font-family:Courier, serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:16.80pt;letter-spacing:0.40px;}
.font-6{font-family:"PingFang SC", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:23.52pt;letter-spacing:0.40px;}
.pos-11{position:relative;margin-left:0;margin-top:135px;}
.size-11{min-width:450px;width:450px;min-height:180px;}
.pos-12{position:relative;margin-left:20px;margin-top:90px;}
.size-12{min-width:460px;width:460px;min-height:257px;}
.pos-13{position:relative;margin-left:10px;margin-top:61px;}
.size-13{min-width:950px;width:950px;min-height:1px;height:1px;}
.cont-10{border:0;background-color:rgb(224,224,224);}
.pos-14{position:relative;margin-left:167px;margin-top:0;}
.size-14{min-width:733px;width:733px;min-height:126px;}
.size-15{min-width:303px;width:303px;min-height:126px;}
.para-2{padding-top:0;text-indent:0;margin-top:3.94pt;margin-bottom:-3.94pt;padding-right:0;text-align:left;}
.font-7{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:19.13pt;letter-spacing:normal;}
.size-16{min-width:410px;width:410px;min-height:126px;}
.cont-11{z-index:1;pointer-events:none;border:0;background-color:rgb(76,76,76);}
.cont-12{z-index:6;pointer-events:auto;}
.cont-13{z-index:8;pointer-events:auto;}
.cont-14{z-index:7;pointer-events:auto;}
.pos-15{position:relative;margin-top:77px;}
.pos-16{position:relative;margin-left:15px;margin-top:0;}
.size-17{min-width:935px;width:935px;min-height:210px;}
.cont-15{z-index:2;border-bottom:1px solid rgba(99,99,99,0.5);background-color:transparent;}
.pos-17{position:relative;margin-left:41px;margin-top:36px;}
.size-18{min-width:867px;width:867px;min-height:150px;}
.size-19{min-width:200px;width:200px;min-height:150px;height:150px;}
.cont-16{z-index:14;pointer-events:auto;}
.img{position:absolute;left:6px;width:189px;height:150px;top:0;border:0;}
.img-2{left:6px;width:189px;height:150px;top:0;}
.pos-18{position:relative;margin-left:67px;margin-top:4px;}
.size-20{min-width:600px;width:600px;min-height:146px;}
.cont-17{z-index:15;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;margin-top:2.40pt;margin-bottom:-2.40pt;padding-right:0;text-align:justify;}
.font-8{font-family:Courier, serif;font-size:12.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:16.80pt;letter-spacing:normal;}
.font-9{font-family:"PingFang SC", sans-serif;font-size:12.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:23.52pt;letter-spacing:normal;}
.pos-19{position:relative;margin-left:15px;margin-top:45px;}
.cont-18{z-index:3;border-bottom:1px solid rgba(99,99,99,0.5);background-color:transparent;}
.pos-20{position:relative;margin-left:28px;margin-top:30px;}
.size-21{min-width:852px;width:852px;min-height:180px;}
.size-22{min-width:559px;width:559px;min-height:180px;}
.pos-21{position:relative;margin-left:93px;margin-top:0;}
.cont-19{z-index:16;pointer-events:auto;}
.img-3{position:absolute;left:0;width:200px;height:150px;top:0;border:0;}
.img-4{left:0;width:200px;height:150px;top:0;}
.pos-22{position:relative;margin-left:15px;margin-top:35px;}
.cont-20{z-index:5;border-bottom:1px solid rgba(99,99,99,0.5);background-color:transparent;}
.pos-23{position:relative;margin-left:76px;margin-top:5px;}
.size-23{min-width:843px;width:843px;min-height:192px;}
.size-24{min-width:283px;width:283px;min-height:192px;height:192px;}
.cont-21{z-index:18;pointer-events:auto;}
.img-5{position:absolute;left:1px;width:280px;height:192px;top:0;border:0;}
.img-6{left:1px;width:280px;height:192px;top:0;}
.pos-24{position:relative;margin-left:106px;margin-top:14px;}
.size-25{min-width:454px;width:454px;min-height:172px;}
.cont-22{z-index:19;pointer-events:auto;}
.pos-25{position:relative;margin-left:15px;margin-top:34px;}
.size-26{min-width:935px;width:935px;min-height:263px;}
.cont-23{z-index:17;border-bottom:1px solid rgba(99,99,99,0.5);background-color:transparent;}
.pos-26{position:relative;margin-left:18px;margin-top:9px;}
.size-27{min-width:901px;width:901px;min-height:254px;}
.size-28{min-width:600px;width:600px;min-height:254px;}
.cont-24{z-index:20;pointer-events:auto;}
.pos-27{position:relative;margin-left:-10px;margin-top:4px;}
.size-29{min-width:264px;width:264px;min-height:123px;height:123px;}
.cont-25{z-index:21;pointer-events:auto;}
.img-7{position:absolute;left:62px;width:140px;height:123px;top:0;border:0;}
.img-8{left:62px;width:140px;height:123px;top:0;}
.pos-28{position:relative;margin-left:771px;margin-top:-158px;}
.size-30{min-width:130px;width:130px;min-height:134px;height:134px;}
.cont-26{z-index:22;pointer-events:auto;}
.img-9{position:absolute;left:0;width:130px;height:134px;top:0;border:0;}
.img-10{left:0;width:130px;height:134px;top:0;}
.pos-29{position:relative;margin-left:15px;margin-top:42px;}
.size-31{min-width:935px;width:935px;min-height:237px;}
.cont-27{z-index:24;border:0;background-color:transparent;}
.pos-30{position:relative;margin-left:655px;margin-top:12px;}
.size-32{min-width:267px;width:267px;min-height:211px;height:211px;}
.cont-28{z-index:25;pointer-events:auto;}
.img-11{position:absolute;left:0;width:267px;height:184px;top:14px;border:0;}
.img-12{left:0;width:267px;height:184px;top:14px;}
.pos-31{position:relative;margin-left:28px;margin-top:-225px;}
.size-33{min-width:600px;width:600px;min-height:225px;}
.cont-29{z-index:23;pointer-events:auto;}
.pos-32{position:relative;margin-left:10px;margin-top:46px;}
.cont-30{z-index:11;pointer-events:auto;}
.cont-31{z-index:9;pointer-events:auto;}
.pos-33{position:relative;margin-top:72px;}
.pos-34{position:relative;margin-left:3px;margin-top:0;}
.size-34{min-width:954px;width:954px;min-height:400px;}
.wrapper{font-size:15px;line-height:1.4;min-height:400px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-35{position:relative;margin-left:3px;margin-top:64px;}
.size-35{min-width:949px;width:949px;min-height:386px;}
.size-36{min-width:469px;width:469px;min-height:328px;height:328px;}
.anchor{display:block;width:469px;}
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden}.mfp-wrap{z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-close,.mfp-preloader{text-align:center;position:absolute}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#CCC;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#CCC}.mfp-close,.mfp-preloader a:hover{color:#FFF}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none;touch-action:manipulation}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;text-decoration:none;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler iframe,.mfp-player-scaler .player{display:block;top:0;width:100%;background:#000;box-shadow:0 0 8px rgba(0,0,0,.6);position:absolute;left:0}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{height:100%}.mfp-player-scaler{width:100%;max-width:900px;height:0;overflow:hidden;padding-top:56.25%}.mfp-player-scaler .player{right:0;bottom:0}.mfp-plyr .mfp-container{padding-top:40px;padding-bottom:40px}.mfp-plyr .player{left:0;max-width:900px;margin:0 auto;height:0}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{position:absolute;left:0;top:40px;bottom:40px;right:0;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.mfp-fade.mfp-bg.mfp-removing{opacity:0!important}.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;transition:all .15s ease-out}.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1}.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0!important}
.js-34-lightbox.mfp-bg{opacity:0;background:#0b0b0b;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-34-lightbox.mfp-bg.mfp-ready{opacity:0.6;filter:alpha(opacity=65);}
.img-13{position:absolute;left:0;width:469px;height:313px;top:7px;border:0;}
.img-14{left:0;width:469px;height:313px;top:7px;}
.pos-36{position:relative;margin-left:37px;margin-top:0;}
.size-37{min-width:443px;width:443px;min-height:386px;}
.para-4{padding-top:0;text-indent:32px;margin-top:2.40pt;margin-bottom:-2.40pt;padding-right:0;text-align:justify;}
.font-10{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(76,76,76);line-height:16.80pt;letter-spacing:normal;}
.pos-37{position:relative;margin-left:10px;margin-top:208px;}
.cont-32{z-index:2;pointer-events:auto;}
.cont-33{z-index:10;pointer-events:auto;}
.size-38{min-width:920px;width:920px;min-height:1200px;}
.wrapper-2{font-size:15px;line-height:1.4;min-height:1200px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-38{position:relative;margin-left:10px;margin-top:43px;}
.pos-39{position:relative;margin-left:0;margin-top:1px;}
.size-39{min-width:303px;width:303px;min-height:125px;}
.size-40{min-width:960px;width:960px;min-height:2537px;}
.pos-40{position:relative;margin-left:0;margin-top:52px;}
.size-41{min-width:206px;width:206px;min-height:1026px;}
.size-42{min-width:185px;width:185px;min-height:1026px;}
.size-43{min-width:10px;width:10px;min-height:1026px;}
.cont-34{z-index:26;border:0;background-color:rgb(224,224,224);}
.size-44{min-width:1px;width:1px;min-height:1px;}
.pos-41{position:relative;margin-left:-1px;margin-top:125px;}
.pos-42{position:relative;margin-left:-1px;margin-top:244px;}
.pos-43{position:relative;margin-left:-1px;margin-top:513px;}
.pos-44{position:relative;margin-left:-1px;margin-top:706px;}
.pos-45{position:relative;margin-left:-1px;margin-top:823px;}
.pos-46{position:relative;margin-left:-1px;margin-top:962px;}
.pos-47{position:relative;margin-left:0;margin-top:-623px;}
.size-45{min-width:185px;width:185px;min-height:39px;}
.font-11{font-family:Courier, serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(76,76,76);line-height:16.80pt;letter-spacing:normal;}
.font-12{font-family:"PingFang SC", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(76,76,76);line-height:23.52pt;letter-spacing:normal;}
.pos-48{position:relative;margin-left:0;margin-top:-558px;}
.para-5{padding-top:0;text-indent:32px;margin-top:3.36pt;margin-bottom:-3.36pt;padding-right:0;text-align:justify;}
.pos-49{position:relative;margin-left:0;margin-top:-894px;}
.para-6{padding-top:0;text-indent:31px;margin-top:2.40pt;margin-bottom:-2.40pt;padding-right:0;text-align:justify;}
.pos-50{position:relative;margin-left:0;margin-top:-821px;}
.pos-51{position:relative;margin-left:0;margin-top:-753px;}
.para-7{padding-top:0;text-indent:0;margin-top:2.40pt;margin-bottom:-2.40pt;padding-right:0;text-align:center;}
.pos-52{position:relative;margin-left:0;margin-top:-687px;}
.pos-53{position:relative;margin-left:0;margin-top:-960px;}
.cont-35{z-index:27;pointer-events:auto;}
.pos-54{position:relative;margin-left:0;margin-top:-1026px;}
.pos-55{position:relative;margin-left:0;margin-top:-231px;}
.size-46{min-width:206px;width:206px;min-height:39px;}
.pos-56{position:relative;margin-left:0;margin-top:-169px;}
.pos-57{position:relative;margin-left:0;margin-top:-103px;}
.pos-58{position:relative;margin-left:0;margin-top:-39px;}
.cont-36{z-index:24;pointer-events:auto;}
.pos-59{position:relative;margin-left:0;margin-top:-425px;}
.pos-60{position:relative;margin-left:0;margin-top:-359px;}
.pos-61{position:relative;margin-left:0;margin-top:-294px;}
.pos-62{position:relative;margin-left:0;margin-top:-492px;}
.cont-37{z-index:17;pointer-events:auto;}
.pos-63{position:relative;margin-left:-206px;margin-top:1344px;}
.pos-64{position:relative;margin-left:-1px;margin-top:1490px;}
.pos-65{position:relative;margin-left:-1px;margin-top:1863px;}
.pos-66{position:relative;margin-left:-1px;margin-top:1946px;}
.pos-67{position:relative;margin-left:-1px;margin-top:2032px;}
.pos-68{position:relative;margin-left:-1px;margin-top:2114px;}
.pos-69{position:relative;margin-left:-1px;margin-top:2198px;}
.pos-70{position:relative;margin-left:-1px;margin-top:2312px;}
.pos-71{position:relative;margin-left:-1px;margin-top:2369px;}
.pos-72{position:relative;margin-left:359px;margin-top:0;}
.size-47{min-width:600px;width:600px;min-height:2537px;}
.pos-73{position:relative;margin-left:10px;margin-top:54px;}
.size-48{min-width:960px;width:960px;min-height:743px;}
.wrapper-3{font-size:15px;line-height:1.4;min-height:743px;}
.wrapper-3 div, .wrapper-3 p, .wrapper-3 a{font-size:15px;line-height:1.4;}
.wrapper-3 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-74{position:relative;margin-left:10px;margin-top:72px;}
